{{ header }}
{{ column_left }}

<div class="container mt-3">
  <h1>{{ heading_title }}</h1>

  <form action="{{ action }}" method="post">

    <div class="alert alert-info">
      {{ simpay_ipn_text }}<br>
      <b><u>{{ webhook_url }}</u></b>
    </div>

    {% if simpay_version_actual %}
      <div class="alert alert-success">
        {{ simpay_version_message }}
      </div>
    {% else %}
      <div class="alert alert-warning">
        {{ simpay_version_message }}
      </div>
    {% endif %}

    {% if error_warning %}
      <div class="alert alert-danger">
        {{ error_warning }}
      </div>
    {% endif %}

    <div class="form-group mb-3">
      <label>{{ simpay_entry_bearer }}</label>
      <input type="text" name="payment_simpay_bearer" value="{{ payment_simpay_bearer }}" class="form-control" />
      <small>{{ simpay_entry_bearer_description }}</small>
    </div>

    <div class="form-group mb-3">
      <label>{{ simpay_entry_service_id }}</label>
      <input type="text" name="payment_simpay_service_id" value="{{ payment_simpay_service_id }}" class="form-control" />
      <small>{{ simpay_entry_service_id_description }}</small>
    </div>

    <div class="form-group mb-3">
      <label>{{ simpay_entry_service_hash }}</label>
      <input type="text" name="payment_simpay_service_hash" value="{{ payment_simpay_service_hash }}" class="form-control" />
      <small>{{ simpay_entry_service_hash_description }}</small>
    </div>

    <div class="form-group mb-3">
      <label>{{ payment_simpay_approved_status }}</label>
      <select name="payment_simpay_approved_status_id" id="input-approved-status" class="form-select">
        {% for order_status in order_statuses %}
          <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == payment_simpay_approved_status_id %} selected{% endif %}>{{ order_status.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group mb-3">
      <label>{{ simpay_entry_status }}</label>
      <select name="payment_simpay_status" class="form-control">
        <option value="1" {% if payment_simpay_status %} selected {% endif %}>{{ simpay_enabled }}</option>
        <option value="0" {% if not payment_simpay_status %} selected {% endif %}>{{ simpay_disabled }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">{{ simpay_save }}</button>
  </form>
</div>

{{ footer }}
